.faq_container {
    background-color: #f7f7f7;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
    /* position: relative; */
    border-radius: 5px;
   
  }

  .faq_container:hover .title_card h1 
  {
    color: rgb(209, 104, 6);
  }

  .title_card
  {
    display: flex;
    font-size: 23px;
  }

  .arrow {
    transform: translateY(-50%) rotate(0deg); /* По умолчанию стрелка вниз */
    width: 0;
    height: 0;
    margin-top: 10px;
    order: 999;
    margin-left: auto;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000; /* Измените цвет стрелки по желанию */
    transition: transform 0.3s ease; /* Добавлено для анимации */
  }
  
  .faq_container.open .arrow {
    transform: translateY(-50%) rotate(180deg); /* Поворот стрелки при открытом состоянии */
  }
  
  .faq_button {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  

  
  .faq_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .faq_item {
    margin-bottom: 10px;
  }
  
  
  
  .faq_answer {
    font-size: 20px;
  }

  .menu_enter {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .menu_enter_active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  }
  
  .menu_exit {
    opacity: 1;
    transform: translateY(0%);
  }
  
  .menu_exit_active {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  }

  /* Экран ноута */
@media (max-width:1230px) {
  .title_card
  {
    display: flex;
    font-size: 18px;
  }

  .faq_answer
  {
    font-size: 18px;
  }


}

/* планшет */
@media (max-width:990px) {
}

/* планшет портрет */
@media (max-width:770px) {
}

/* мобильник */
@media (max-width:575px) {
}
  