.header__nav
{
    width: 48%;
}

.header__nav_list
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    /* padding-left: 15px; */
    width: 100%;

}

.header__nav_item
{
    /* display: flex; */
    font-size: 17px;
    padding-left: 15px;
    transition: color .3s linear;
    text-transform: uppercase;
    font-weight: bold;

}

.header__nav_item:hover
{
    color: #e99445;
}

.header__nav_button
{
    display: none;
}


/* Экран ноута */
@media (max-width:1230px) {
    .header__nav_list
    {
        /* padding-left: 10px; */
    }

    .header__nav_item
    {
         font-size: 14px;
    }
}

/* планшет */
@media (max-width:990px) {
    .header__nav_item
    {
        /* display: none; */
    }




}

/* планшет портрет */
@media (max-width:770px) {
    .nav{
        position: fixed;
        top: 0;
        left: -255px;
        display: flex;
        width: 220px;
        height: 100%;
        background-color: #fff;
        border: 2px solid black;
        border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;
        box-shadow: 0 0 4px 4px rgba(0,0,0,0.25);
        transition: transform 0.3s linear;
    }

    .nav.active
    {
        transform:  translateX(100%);
    }

    .header__nav_list
    {
       display: flex;
       flex-direction: column;
       flex: 1;
       padding-top: 40px;
       padding-left: 30px;
    }

    .header__nav_item
    {
        margin: 10px 0;
        font-weight: 500px;
    }

    .header__nav_button
{
    display: block;
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-left: auto;
    padding: 0;
    border: 0;
    position: absolute;
    right: 10px;
    top: 20px;
    

}



   


}

/* мобильник */
@media (max-width:575px) {
}