.filter_genre
{
    margin: 10px 10px 10px 10px;
    background-color: #DFDFDF;
    /* width: 325px; */

    
}

.genre_title
{
    font-size: 30px;
    padding: 5px 0 5px 0;
    text-align: center;
}

.filter_genre__label
{
    font-size: 20px;
    padding-left: 5px;
}

.filter__unit
{
    width: 100%;
    /* display:flex ; */
}

.unit
{
    padding: 0 15px 0 15px;
}