/* styles.css */
.slider-carousel {
  /* margin: 50px auto; */
  padding: 20px 80px;
  /* max-width: 1700px; */
  width: 100%;
   /* Ширина слайдера */
   /* display: flex; */
   background-color: black;
  
   
}


.dot{
  display: flex;
  justify-content: center;
}

.slide-item img
{
  display: block;
  max-width: 100%;
  height: auto;
}












