.container_fluid {
    /* max-width: 1700px; */
    padding-left: 24px;
    padding-right: 24px;
    /* display: flex; */
    margin: 0 auto;
    margin-top: 25px;
}

.support_tabs__list
{
    list-style: none;
    margin: 0 ;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    /* justify-content: space-between; */
    padding: 35px 0;
    width: 100%;
    
}

.support_tabs__item
{
    margin-right: 3%;
    font-family: Play, Arial, sans-serif;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 220px;
    height: 90px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    /* padding-left: 20px; */
    font-size: 18px;
    color: #0a0a0a;
    border-radius: 10%;
   
}

.support_tabs__link:hover,
.img_support svg:hover
{
    color: rgb(209, 104, 6);
    /* background-color: red; */
    
}

.img_support
{
    width: 100px;
    height: 50px;
}

.support_tabs__link {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
}

.support_tabs__title {
    padding-right: 10px;
}

/* Экран ноута */
@media (max-width:1230px) {
    .support_tabs__item
    {
        width: 200px;
        height: 70px;
       
    }

    .img_support
    {
    width: 70px;
    height: 40px;
    }

    .container_fluid {
        
        padding-left: 0px;
        padding-right: 0px;
        margin: 0;
       
    }

    .support_tabs__list
    {
        justify-content: center;
    }

}

/* планшет */
@media (max-width:990px) {
    .support_tabs__item
    {
        margin-top: 10px;
    }

    .support_tabs__list
    {
        flex-wrap: wrap;
        width: 100%;
    }


}

/* планшет портрет */
@media (max-width:770px) {
}

/* мобильник */
@media (max-width:575px) {
}