.container_fluid {
    max-width: 1700px;
    padding-left: 24px;
    padding-right: 24px;
    /* display: flex; */
    margin: 0 auto;
}

.support_tabs__list
{
    list-style: none;
    margin: 0 ;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    /* justify-content: space-between; */
    padding: 35px 0;
    width: 100%;
}

.support_tabs__item
{
    margin-right: 3%;
}

.img_support
{
    width: 100px;
    height: 50px;
}

.support_tabs__link {
    font-family: Play, Arial, sans-serif;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 275px;
    height: 90px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    padding-left: 20px;
    font-size: 18px;
    color: #0a0a0a;
    border-radius: 10%;
}

.support_tabs__title {
    padding-left: 10px;
}