.header__right
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 20%;
}

.right
{
    order: 999;
    margin-left: auto;
    
}




.header__cabinet
{
    margin-left: 10px;
}

.header__cabinet_img
{
    width: 100%;
    height: 40px;
    
}


@media (max-width:1265px) {
   
}

/* Экран ноута */
@media (max-width:1230px) {

}

/* планшет */
@media (max-width:990px) {
    .header__cabinet
    {
        display: none;
    }
}

/* планшет портрет */
@media (max-width:770px) {
}

/* мобильник */
@media (max-width:575px) {
}