input {outline:none;}

.filter
{
    position: relative;
}

.catalog_filter
{
    
    /* width: 350px; */
    background-color: #D5CFCF;
    margin-left: 10px;
    height: 100%;
    width: min-content;
    margin-right: 20px;
    
}

.reset_button
{
    
    position: absolute;
    left: 85px;
    margin-top: 10px;
    font-size: 18px;
    transition: color .2s linear;
}

.reset_button:hover
{
    color: #c98240 ;
}



/* Экран ноута */
@media (max-width:1230px) {
}

/* планшет */
@media (max-width:990px) {
    .catalog_filter
    {
        display: none;
    }
}

/* планшет портрет */
@media (max-width:770px) {
}

/* мобильник */
@media (max-width:575px) {
}

