.catalog_content_middle
{
    display: flex;
    flex-direction: column;
}

.catalog_cards
{
    width: 60%;
}

.comp
{
    margin-bottom: 20px;
}



/* Экран ноута */
@media (max-width:1230px) {
}

/* планшет */
@media (max-width:990px) {
    .catalog_content_middle
    {
        flex-direction: column-reverse;
        align-items: center;
    }
}

/* планшет портрет */
@media (max-width:770px) {
}

/* мобильник */
@media (max-width:575px) {
}