/* Стили для компонента FilterMode */

.filter_mode_name {
  font-size: 30px;
  padding: 5px 0 5px 0;
  text-align: center;
}

.filter_mode {
  margin: 10px;
  background-color: #dfdfdf;
}

.active
{
    color: #c98240;
    
}

.mode_checkbox {
  display: inline-block;
  margin-right: 20px; /* Расстояние между чекбоксами */
}

.hidden_checkbox {
  display: none; /* Скрыть настоящий чекбокс */
}

.mode_label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mode
{
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.mode_img {
  width: 50px; /* Размер изображения */
  height: auto; /* Автоматическая высота */
  margin-bottom: 5px; /* Расстояние между изображением и текстом */
}

.mode_text {
  font-size: 17px; /* Размер текста */
  padding-left: 5px;
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  
}

.mode_checkbox input[type="checkbox"]:checked + .mode_label .mode_img {
  border: 2px solid red;
  background-color: rgb(255, 136, 0);
}
