.MenuGame__title
{
    font-size: 25px;
    transition: color 0.3s ease; /* Переход для изменения цвета текста */
}

.select {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link {
    position: relative;
  }
  
  .link button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .active .MenuGame__title {
    color: #c98240;
  }
  
  .indicator {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #c98240;
    transform: scaleX(0); /* Изначально скрываем полоску */
    transition: transform 0.3s ease; /* Переход для плавного отображения полоски */
  }

  .active .indicator {
    transform: scaleX(1); /* Показываем полоску при активном состоянии */
  }



/* Экран ноута */
@media (max-width:1230px) {

}

/* планшет */
@media (max-width:990px) {
    .select
    {
        text-align: center;
        gap: 15px;
    }
    .MenuGame__title
    {
        
    }


}

/* планшет портрет */
@media (max-width:770px) {
    .MenuGame__title
{
    font-size: 25px;
   
}
    .select
    {
        flex-wrap: wrap;
        gap: 0px;
    }

    .link
    {
        width: 100%;
    }
}

/* мобильник */
@media (max-width:575px) {
    .MenuGame__title
{
    font-size: 25px;
   
}
}