.header__nav
{
    padding-left: 20px;
}

.header__nav_list
{
    display: flex;
    flex-direction: row;
    padding: 15px;

}

.header__nav_item
{
    font-size: 36px;
    padding-left: 19px;

    transition: color .3s linear;
}

.header__nav_item:hover
{
    color: #e99445;
}

