
.subs_cont
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contacts
{
    font-size: 35px;
}

.mail_tittle
{
    font-size: 30px;
}

.mail_link
{
    font-size: 20px;
}

.mail_link:hover,
.svg:hover
{
    color: blue;
}

.mail
{
    padding-left: 10px;
}

/* Экран ноута */
@media (max-width:1230px) {
    .contacts
{
    font-size: 30px;
}
}

/* планшет */
@media (max-width:990px) {
}

/* планшет портрет */
@media (max-width:770px) {
}

/* мобильник */
@media (max-width:575px) {
}