/* CustomArrows.module.css */
.custom-arrows {
  display: flex;
  justify-content: space-between; /* Распределить элементы по краям */
  align-items: center; /* Выравнять по центру по вертикали */
  position: absolute; /* Позиционируем стрелки абсолютно */
  top: 50%; /* Размещаем стрелки по центру вертикально */
  transform: translateY(-50%); /* Корректируем позицию по вертикали */
  width: 100%; /* Занимаем всю ширину родительского элемента */
}

.custom-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Размер стрелки */
  z-index: 999; /* Устанавливаем z-index для стрелок */
}

.custom-arrow::before {
  content: "";
  display: inline-block;
  width: 10px; /* Ширина стрелки */
  height: 10px; /* Высота стрелки */
  border-width: 2px; /* Толщина стрелки */
  border-style: solid;
  border-color: black;
  border-left-color: transparent; /* Цвет левой стороны стрелки */
  border-right-color: transparent; /* Цвет правой стороны стрелки */
  transform: rotate(-45deg); /* Поворот на 45 градусов влево */
}

.custom-arrow.right::before {
  transform: rotate(45deg); /* Поворот на 45 градусов вправо */
}

.react-multiple-carousel__arrow--left {
  left: calc(4% + 1px);
}
